= will_paginate @tracks

%table
  - @tracks.each do |track|
    %tr{:class => cycle(nil, 'alternate')}
      %td{:style => "width: 16px;"}= link_to image_tag("control_play.png"), "/tracks/play/#{track.id}", :class => "play-link"
      %td
        %strong= track.title
        %br/ 
        = track.artist.title if track.artist
        = "- " + track.album.title if track.album