= will_paginate @albums

%table
  - @albums.each do |album|
    %tr{:class => cycle('normal', 'alternate')}
      %td{:style => "width: 16px;"}= link_to image_tag("control_play.png"), "/albums/play/#{album.id}"
    
      %td
        %strong= album.title
        %br/  
        = album.tracks.first.artist.title if album.tracks.first && album.tracks.first.artist
        %br/
        = album.tracks.length
        tracks