!!! Strict
%html{ :lang => "en" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title Easy Listening
    %meta{ :name => "generator", :content => "TextMate http://macromates.com/" }/
    %meta{ :name => "author", :content => "Sean Roberts" }/
    = stylesheet_link_tag 'style'
    / Date: 2008-12-09
  %body
    #header
      %h1 EasyListening
      %h3 Because walking to the living room is for suckers!
      
    #nav
      = link_to "Artists", artists_path
      = link_to "Albums", albums_path
      = link_to "All Tracks", tracks_path
    
    #body= yield